extends layout

block contentTodos
  h1 #{title}
  include modal
  #myDIV.header-todos
    .form-row
      .col-9.mb-3
        input#todoTitle.form-control(name='header' placeholder='List name..')
      .col-9
        input#myInput.form-control(type='text', placeholder='Add list item here...')   
      .col
        span.addBtn.btn.btn-secondary.form-control Add
  ul#myUL
  br 
  input.btn.btn-primary.d-none(type='button', value='Submit' id="addNewTodo")
  div.btn.btn-primary(id="submit") Submit


